* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.map-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
}

.map {
  width: 70%;
  height: 100vh;
  margin-left: 30%;
  border: 5px solid greenyellow;
}